body{
    font-family: 'Roboto';
    font-style: normal;
    color: #212121;
    font-size: 14px;
}
li{
    list-style-type: none;
}
.page{
    text-align: center;
}
.page li{
    display: inline-block;
}
span{
    color: #2196F3;
}
.webstudioheader{
    font-family:"Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: black;
    text-decoration: none;
}
.header-transition{
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    color: #212121;
}
.header-transition:hover{
    color: #2196F3;
}
.header-transition:active{
    color: #1d71b6;
}
.mailtel{
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    color:#757575;
}
.mailtel:hover,.adress:hover{
    color:#188CE8;
}
.mailtel:active,.adress:active{
    color:#15568b;
}


footer{
    width: 100%;
    height: 200px;
    background-color: #2F303A;
}
.webstudiofooter{
    font-family:"Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: white;
    text-decoration: none;
}
.adress{
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}
footer .mailtel{
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
